.Home {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-right: 6%;
  margin-left: 6%;
  font-family: 'Times New Roman', Times, serif;
}

.Header {
  text-align: center;
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 2em;
  border-bottom: thick double;
}

.Body {
  display: flex;
  margin-top: 2%;
  border-bottom: thick double;
  padding-bottom: 3%;
}

.body p {
  color: gray;
}

.SectionMain {
  font-size: 0.8em;
  min-width: 68%;
  padding: 0;
  padding-right: 1%;
  font-weight: 400;
}

.HeadlineLarge {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  border-bottom: thin solid gray;
  margin-bottom: 2%;
  padding-bottom: 3%;
  
}

.LargeText {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  width: 40%;
  font-size: 0.8em;
  padding-right: 2%;
}

.LargeText p {
  font-weight: 300;
  color: gray;
  font-size: 1.2em;
}

.SmallText {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.SmallText p {
  font-weight: 300;
  color: gray;
  font-size: 1.2em;
}


.SectionSide {
  min-width: 28%;
  font-size: 0.6em;
  font-weight: 100;
  border-left: thin solid;
  padding: 0;
  padding-left: 1%;
}

.HeadlineSmall {
  border-bottom: thin solid #c1c1c1;
  margin-bottom: 2%;
}

.Footer {
  display: inline;
  padding-bottom: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 220;
  font-style: none;
  color: grey;  
}

.Footer h3 {
  font-family: "UnifrakturMaguntia", serif;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0.5em;
  padding-top: 0.2em;
  color: black;
}

.Footer ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  padding:0;
  margin:0;
}
.Footer li {
  padding: 1em;
  padding-top: 1em;
  padding-right: 0;
}

.LargeImage {
  margin-left: 1%;
  width: 60%;
}

.SmallImage {
  width: auto;
}

.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}